<!doctype html>
<html>
	<head> 
	</head>

	<body>

		<h3> The important things right now </h3>

		<ul> 
			<li> Study the different types of neural networks, see Bishop (Chp 5) and Murphy (Chp 28)
				<ul> 
					<li> Vanilla </li>
					<li> LSTM </li>
					<li> GRU </li>
					<li> Deep </li>
					<li> Convolutional </li>
				</ul>
			 </li>
			<li> Linear Algebra: A good approach is just to start with tutorial questions. </li>
			For MATH1902: 
				<ul> 
					<li> Attempt exercises </li>
					<li> Recreate the proofs </li>
					<li> Do the assignments </li>
					<li> Put emphasis on actually understanding the theory as that will be important for MATH2922 </li>
				</ul>
		</ul>

		<h3> For when you're not bothered to do the most important things </h3>

		<ul>
			<li> Review STAT3013 notes and look for specific: 
				<ul> 
					<li> Consistent formatting </li>
					<li> Decide where to put Advanced content </li> 
					<li> Think about where to add examples </li>
					<li> Circle parts where explanations might be unclear </li>
				</ul>
			</li>

			<li> Set up Latex editting on Sublime Text. This should speed up the workflow. </li>

			<li> Personal Website - try to incorporate as many features as you can 
				<ul> 
					<li> Finish formatting template for the various webpages. </li>
					<li> Write up the data science career page (with various bootstrap features like canvas, cards, table and other responsive features) </li>
					<li> Write the about me page with spyscroll </li>
				</ul>
			</li>

			<li> Look at time series book
				<ul> 
					<li> Incorporate time series into project as well </li>
				</ul>
			</li>
		</ul>

	</body>
</html>